{% extends "base.html"%}{% block title %}Home{% endblock %}
{% block content %}
    {% if not user %}
    <h1><u><center>Hello Please Login</center></u></h1>
    <h1><u><center>or Sign Up</center></u></h1>
    {% elif user %}
    <form class="d-flex" role="search" method="POST">
        <input class="form-control me-2" type="search" name="verse" placeholder="Verse" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    {% endif %}
{% endblock %}