{% extends "base.html" %}{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center"><u>Sign Up</u></h3>
    <div class="form-group; container" padding="15px">
      <label for="fname">First Name</label>
      <input
        type="fname"
        class="form-control"
        id="fname"
        name="fname"
        placeholder="Enter First Name"
      />
    </div>
    <div class="form-group; container">
      <label for="lname">Last Name</label>
      <input
        type="lname"
        class="form-control"
        id="lname"
        name="lname"
        placeholder="Enter Last Name"
      />
    </div>
    <div class="form-group; container">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Email"
        />
    </div>
    <div class="form-group; container">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
    </div>
    <div class="form-group; container">
        <label for="repassword">Re-Enter Password</label>
        <input
          type="password"
          class="form-control"
          id="repassword"
          name="repassword"
          placeholder="Re-Enter password"
        />
    </div>
    <br/>
    <div class="container">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>
{% endblock %}