{% extends "base.html" %}{% block title %}Verse Breakdown{% endblock %}
{% block content%}
<form method="POST">
    <div class="card" style="margin: 10px; background-color: rgba(0, 0, 0, 0.9);">
        <div class="card" style="background-color: gray; 
                margin-top: 20px;
                margin-bottom: 0px;
                margin-right: 20px;
                margin-left: 20px; height: 3rem;">
            <center><h4>{{content}}</h4></center>
        </div>
        <div class="card-body">
          <div class="form-group">
            <input
              style="height: 10rem;"
              class="form-control"
              name="entry"
              placeholder="Try Entering The Verse"
            />
        </div>
        <center><button type="submit" class="btn btn-primary" style="margin: 10px;">Submit</button></center>
        </div>
    </div>
</form>
{% endblock %}